@model IEnumerable<Books.Models.BookModel>


<a asp-action="CreateForm">Create New</a>
<br />
    Total of found books :
<p class="bg-success">@ViewBag.BookCout</p>


<div class="container d-flex flex-wrap">
    @foreach (var item in Model)
    {

        <partial name="_OneBook" model="item" />

    }
</div>